@keyframes selectMethod {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.14);
  }
  100% {
    transform: scale(1);
  }
}

h1 {
  color: var(--accent-color);
}
p {
  color: color-mix(in srgb, var(--accent-color) 60%, var(--text-color));
}

#bezahlen-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#bezahlen-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bezahlen-links {
  width: 70%;
}
#bezahlen-rechts {
  width: 30%;
}

#rechnungsadresse-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 20px;
}
#rechnungsadresse-form > input,
#rechnungsadresse-form > select {
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--bg-color-2);
  border: none;
  outline: none;
  border-radius: 999px;
  color: var(--text-color);
  margin: 10px;
}
#rechnungsadresse-form > select {
  width: 180px;
}

#payment-methods {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 10px 20px;
  padding: 10px 20px;

  border-radius: 15px;
  border: 3px dotted var(--bg-color-2);
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

input[type="radio"]:checked + label {
  background-color: color-mix(in srgb, var(--accent-color) 20%, transparent);
  border: 3px solid var(--accent-color);
}
input[type="radio"]:checked + label > img {
  animation: selectMethod 0.3s ease;
}

label {
  cursor: pointer;
}

#payment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  margin-top: 2px;
  margin-left: 30px;
  padding: 0 20px;
}

#payment-form > input {
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--bg-color-2);
  border: none;
  outline: none;
  border-radius: 999px;
  margin: 10px 0;
  color: var(--text-color);
}
#payment-form > input:last-child {
  margin-bottom: 0;
}

#payment-success-and-errors {
  margin-top: 0;
  color: var(--accent-color);
  font-weight: bold;
}

#pay-button {
  margin-top: 20px;
  padding: 10px 20px;

  background-color: var(--accent-color);
  color: var(--bg-color);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
}
#pay-button:hover {
  background-color: color-mix(in srgb, var(--accent-color) 80%, transparent);
}
#pay-button:active {
  transform: scale(0.98);
}

#pay-button:disabled {
  background-color: var(--bg-color-2);
  cursor: not-allowed;
  transform: scale(1);
}
