#produkt-name {
  font-size: 24px;
  margin-bottom: 10px;
}
#produkt-beschreibung {
  font-size: 16px;
  color: var(--text-color-dimmed);
  margin-bottom: 20px;
}

#produkt-bild {
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 15px;
}
#kaufen-button {
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
#kaufen-button:hover {
  background-color: var(--bg-color-2);
}
#kaufen-button:active {
  transform: scale(0.95);
}
