#produkt-name {
  font-size: 24px;
  margin-bottom: 10px;
}
#produkt-beschreibung {
  font-size: 16px;
  color: var(--text-color-dimmed);
  margin-bottom: 20px;
}

#produkt-bild {
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 15px;
}
#kaufen-button {
  display: inline-flex;
  vertical-align: middle;
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
#kaufen-button:hover {
  background-color: var(--bg-color-2);
}
#kaufen-button:active {
  transform: scale(0.95);
}

#warenkorb-actions {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: var(--bg-color-3);
  color: var(--text-color);
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
#warenkorb-actions button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 0 5px;
  height: 100%;
}
#warenkorb-actions button svg {
  width: 20px;
  height: 20px;
}

#kaufen-button, #warenkorb-actions {
  box-sizing: border-box;
  height: 44px;
}