@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@keyframes produkt-fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  --bg-color-1: hsl(0, 0%, 98%);
  --bg-color-2: hsl(0, 0%, 95%);
  --bg-color-3: hsl(0, 0%, 92%);
  --bg-color-4: hsl(0, 0%, 88%);
  --text-color: hsl(0, 0%, 12%);
  --text-color-dimmed: hsl(0, 0%, 45%);
  --acent-color: #3a8a95;
}

body.darkmode {
  --bg-color-1: hsl(0, 0%, 15%);
  --bg-color-2: hsl(0, 0%, 25%);
  --bg-color-3: hsl(0, 0%, 35%);
  --bg-color-4: hsl(0, 0%, 45%);
  --text-color: hsl(0, 0%, 98%);
  --text-color-dimmed: hsl(0, 0%, 78%);
  --acent-color: #337780;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--bg-color-1);
  color: var(--text-color);
  text-align: center;
  padding: 0;
  margin: 0;
}

#homepage-title {
  font-family: "Michroma";
  font-size: 48px;
  margin-top: 40px;
  color: var(--acent-color);
}

.nav-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--bg-color-1);
  z-index: 100;
  background: transparent;
  position: fixed;
  z-index: 100;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  height: 50px;
  width: fit-content;
  border-radius: 30px;
  background-color: color-mix(
    in srgb,
    var(--bg-color-2) 85%,
    var(--bg-color-3) 15%
  );
  border: 1px solid var(--bg-color-3);
  padding: 5px 15px;
  box-shadow: 0px 0px 20px 5px var(--bg-color-1);
}
.placeholder {
  height: 80px;
}
.placeholder {
  height: 80px;
}

.leiste {
  font-size: 120%;
  padding: 0 20px;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.15s ease;
}

.leiste:hover {
  color: color-mix(in srgb, var(--acent-color) 50%, var(--text-color) 50%);
}
.leiste:active {
  color: var(--acent-color);
}
.leiste.aktuelle-seite {
  color: var(--acent-color);
  font-weight: bold;
}

button.leiste {
  background: none;
  border: none;
  font-size: 120%;
  cursor: pointer;
}

.leiste > * {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leiste:first-child {
  border-right: 1px solid var(--bg-color-3);
}
.leiste:last-child {
  border-left: 1px solid var(--bg-color-3);
}

a:last-child {
  border-right: none;
}

#karten-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  gap: 30px;
  padding: 20px;
  max-width: 2000px;
  margin: 0 auto;
}

.person {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-2);
  border-radius: 14px;
  border: 1px solid var(--bg-color-3);
  padding: 14px;
  width: 200px;
  height: 300px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.person > h2 {
  font-size: 18px;
  margin: 10px;
  margin-top: 15px;
}
.person > p {
  font-size: 14px;
  color: var(--text-color-dimmed);
  margin: 0;
}

.person > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 9999px;
}

.produkt {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bg-color-2);
  border-radius: 14px;
  border: 1px solid var(--bg-color-3);
  padding: 14px;
  width: 200px;
  height: 360px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  opacity: 0;
  animation: produkt-fadeIn 0.5s ease-out;
}

.produkt:hover {
  background-color: color-mix(
    in srgb,
    var(--bg-color-2) 50%,
    var(--bg-color-3)
  );
  transform: translateY(-5px);
  cursor: pointer;
}

.produkt-name {
  font-size: 18px;
  margin: 12px 0 8px;
}
.produkt-description {
  font-size: 14px;
  color: var(--text-color-dimmed);
  margin: 0;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
.produkt-preis,
.produkt-reducedPreis {
  font-size: 17px;
  font-weight: bold;
  color: var(--acent-color);
  margin: 14px;

  margin-top: auto;
}

.produkt-reducedPreis {
  margin-top: 0;
}

.produkt img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 10px;
}

#sonderangebote {
  text-align: left;
  padding: 20px;
}

#sonderangebote > #karten-container {
  justify-content: flex-start;
}
